<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <th:block th:insert="fragments/header :: header"></th:block>
    <title layout:fragment="title"></title>
</head>
<body>
<div>
    <section>
        <div layout:fragment="content" class="container-fluid">
            Page Content
        </div>
        <th:block th:replace="fragments/footer::footer"></th:block>
    </section>
</div>
<th:block th:replace="fragments/scripts::scripts"></th:block>
<th:block layout:fragment="scripts"/>
</body>
</html>