@font-face {
  font-family: 'Noto Sans';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/notosans/NotoSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/notosans/NotoSans-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Noto Sans';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/notosans/NotoSans-Bold.ttf') format('truetype');
}