@font-face {
  font-family: '나눔바른고딕';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/nanumfont_ttf_barungothic/NanumBarunGothic.ttf') format('truetype');

}

@font-face {
  font-family: '나눔고딕';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/nanumfont_ttf_gothic/NanumGothic.ttf') format('truetype');

}

@font-face {
  font-family: '나눔명조';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/nanumfont_ttf_myungjo/NanumMyeongjo.ttf') format('truetype');

}

@font-face {
  font-family: '나눔명조에코';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/nanumfont_ttf_myungjoeco/NanumMyeongjoEco.ttf') format('truetype');

}

@font-face {
  font-family: '마루부리';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/maruburi_ttf/MaruBuri-Regular.ttf') format('truetype');

}

@font-face {
  font-family: '한돋움체';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/handoteum-ttf/KHNPHDotfR.ttf') format('truetype');

}


@font-face {
  font-family: '나눔손글씨체';
  font-weight: normal;
  font-style: normal;
  src: url('../../fonts/nanumfont_ttf_songeulssi/songeulssi.ttf') format('truetype');

}