@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/notosans-kr/NotoSansKR-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/notosans-kr/NotoSansKR-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Noto Sans KR';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/notosans-kr/NotoSansKR-Bold.otf') format('opentype');
}