@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/kopub-dotum/KoPubDotumLight.eot');
  src: url('../../fonts/kopub-dotum/KoPubDotumLight.woff2') format('woff2'),
  url('../../fonts/kopub-dotum/KoPubDotumLight.woff') format('woff'),
  url('../../fonts/kopub-dotum/KoPubDotumLight.ttf') format('truetype'),
  url('../../fonts/kopub-dotum/KoPubDotumLight.svg#KoPubDotumLight') format('svg'),
  url('../../fonts/kopub-dotum/KoPubDotumLight.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 400;
  font-style: normal;
  src: url('../../fonts/kopub-dotum/KoPubDotumMedium.eot');
  src: url('../../fonts/kopub-dotum/KoPubDotumMedium.woff2') format('woff2'),
  url('../../fonts/kopub-dotum/KoPubDotumMedium.woff') format('woff'),
  url('../../fonts/kopub-dotum/KoPubDotumMedium.ttf') format('truetype'),
  url('../../fonts/kopub-dotum/KoPubDotumMedium.svg#KoPubDotumMedium') format('svg'),
  url('../../fonts/kopub-dotum/KoPubDotumMedium.eot?#iefix') format('embedded-opentype');
}

@font-face {
  font-family: 'KoPub Dotum';
  font-weight: 600;
  font-style: normal;
  src: url('../../fonts/kopub-dotum/KoPubDotumBold.eot');
  src: url('../../fonts/kopub-dotum/KoPubDotumBold.woff2') format('woff2'),
  url('../../fonts/kopub-dotum/KoPubDotumBold.woff') format('woff'),
  url('../../fonts/kopub-dotum/KoPubDotumBold.ttf') format('truetype'),
  url('../../fonts/kopub-dotum/KoPubDotumBold.svg#KoPubDotumBold') format('svg'),
  url('../../fonts/kopub-dotum/KoPubDotumBold.eot?#iefix') format('embedded-opentype');
}