<!DOCTYPE html>
<html lang="ko" xml:lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta carset="UTF-8">
    <title>Footer template</title>
</head>
<body>
<!--======= FOOTER =======-->
<footer th:fragment="footer" class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="d-flex align-items-center justify-content-between small">
            <div class="text-muted">Copyright &copy; Prompt Technology 2023</div>
            <div>
                <a href="#">Privacy Policy</a>
                &middot;
                <a href="#">Terms &amp; Conditions</a>
            </div>
        </div>
    </div>
</footer>

<!--========FOOTER END===========-->
</body>
</html>