<th:block th:fragment="scripts" xmlns:th="http://www.thymeleaf.org">
    <script th:src="@{/js/ext/jquery/jquery-3.7.0.min.js}"></script>
    <script th:src="@{/js/ext/bootstrap5/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/ext/bootstrap5/bootstrap.js}"></script>
    <script th:src="@{/js/ext/handlebars/handlebars.min-v4.7.7.js}"></script>
    <script th:src="@{/js/ext/handlebars/handlebars-helper.js}"></script>
    <script th:src="@{/js/util/requestUtil.js}"></script>
    <script>
        let contextPath = "[[@{/}]]";
        contextPath = contextPath.substring(0, contextPath.length - 1);
    </script>
</th:block>